@page "/HeadContentDemo"
<h3>HeadContentDemo</h3>

<PageTitle>Title of the Page</PageTitle>
<HeadContent>
    <meta name="description" content="This is a demo of the head content" />
</HeadContent>

@code {

}
