@page "/BindingComponentDemo"
@rendermode InteractiveServer
<h3>BindingComponentDemo</h3>

<BindingComponent Value="@bindingComponentValue1" />@bindingComponentValue1
<br/>
<BindingComponent @bind-Value="@bindingComponentValue2" />@bindingComponentValue2
<br />
<BindingComponent Value="@bindingComponentValue3" ValueChanged="ValueChangedMethod" />@bindingComponentValue3

@code {
    string bindingComponentValue1 = "Before Update";
    string bindingComponentValue2 = "Before Update";
    string bindingComponentValue3 = "Before Update";

    private void ValueChangedMethod(string value)
    {
        bindingComponentValue3 = value;
    }
}
