@page "/NavLinkDemo"
<h3>NavLinkDemo</h3>

<NavLink href="/NavLinkDemo">This Page</NavLink>
<NavLink Match="NavLinkMatch.All" href="/NavLinkDemo">Match all</NavLink>
<NavLink ActiveClass="MyCustomClass" Match="NavLinkMatch.Prefix" href="/NavLink">Match prefix</NavLink>
<NavLink href="/counter">Counter</NavLink>

@code {

}
